[submodule "subprojects/spdlog"]
	path = subprojects/spdlog
	url = https://github.com/gabime/spdlog
[submodule "subprojects/ut"]
	path = subprojects/ut
	url = https://github.com/boost-ext/ut
[submodule "subprojects/msgpack-c"]
	path = subprojects/msgpack-c
	url = https://github.com/msgpack/msgpack-c
